
%h2 Details about #{@tenant.title}

%h3 Description:

%p#description= @tenant.description

Logo:
= @tenant.logo

%h2 Menu
%ul
	%li
		= link_to 'Roles', tenant_roles_path
	%li
		= link_to 'Users', tenant_users_path
